/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.ul-room {
    display: inline-flex;
}

.ul-room > li {
    float: left;
    margin-right: 5px;
}
.ul-room > li:last-child {
    margin-right: 0;
}
.content {
    display: none;
}
.card .card-image img {
    height: 400px;
}
div.unvailable {
    background-color: red;
}

div.seatCharts-cell {
    width: 40px;
    height: 40px;
    line-height: 3;
}